manifest {
   name = 'cellgeni/vsn-pipelines'
   description = 'Altered repository of pipelines for single-cell data in Nextflow DSL2 for Sanger HPC'
   homePage = 'https://github.com/cellgeni/vsn-pipelines'
   version = '0.27.0'
   mainScript = 'main.nf'
   defaultBranch = 'master'
   nextflowVersion = '!21.04.3'
}

params {
   global {
      species = 'human'
      outdir = ''
      genome {
         assembly = 'hg38'
      }
      project_name = ''
   }
   misc {
      test {
         enabled = false
      }
   }
   utils {
      container = '/nfs/cellgeni/grnboost2-stuff/images/vibsinglecellnf-utils-0.4.0.img'
      file_converter {
         off = 'h5ad'
         tagCellWithSampleId = true
         remove10xGEMWell = false
         useFilteredMatrix = true
         makeVarIndexUnique = false
      }
      publish {
         compressionLevel = 6
         annotateWithBatchVariableName = false
         mode = 'copy'
      }
      scope {
         genome = ''
         tree {
            level_1 = ''
            level_2 = ''
            level_3 = ''
         }
      }
   }
   tools {
      scanpy {
         container = '/nfs/cellgeni/grnboost2-stuff/images/vibsinglecellnf-scanpy-1.8.1.img'
         report {
            annotations_to_plot = []
         }
         feature_selection {
            report_ipynb = '/src/scanpy/bin/reports/sc_select_variable_genes_report.ipynb'
            flavor = 'seurat'
            minMean = 0.0125
            maxMean = 3
            minDisp = 0.5
            off = 'h5ad'
         }
         feature_scaling {
            method = 'zscore_scale'
            maxSD = 10
            off = 'h5ad'
         }
         neighborhood_graph {
            nPcs = 2
            off = 'h5ad'
         }
         dim_reduction {
            report_ipynb = '/src/scanpy/bin/reports/sc_dim_reduction_report.ipynb'
            pca {
               method = 'pca'
               nComps = 2
               off = 'h5ad'
            }
            umap {
               method = 'umap'
               off = 'h5ad'
            }
            tsne {
               method = 'tsne'
               off = 'h5ad'
            }
         }
         clustering {
            preflight_checks = true
            report_ipynb = '/src/scanpy/bin/reports/sc_clustering_report.ipynb'
            method = 'louvain'
            resolution = 0.8
            off = 'h5ad'
         }
         marker_genes {
            method = 'wilcoxon'
            ngenes = 0
            groupby = 'louvain'
            off = 'h5ad'
         }
         filter {
            report_ipynb = '/src/scanpy/bin/reports/sc_filter_qc_report.ipynb'
            cellFilterStrategy = 'fixedthresholds'
            cellFilterMinNGenes = 200
            cellFilterMaxNGenes = 4000
            cellFilterMaxPercentMito = 0.15
            geneFilterMinNCells = 3
            off = 'h5ad'
         }
         data_transformation {
            method = 'log1p'
            off = 'h5ad'
         }
         normalization {
            method = 'cpx'
            targetSum = 10000
            off = 'h5ad'
         }
      }
      scenic {
         container = '/nfs/cellgeni/grnboost2-stuff/images/aertslab-pyscenic-0.10.4.img'
         scenicoutdir = ''
         filteredLoom = ''
         scenicOutputLoom = 'SCENIC_output.loom'
         scenicScopeOutputLoom = 'SCENIC_SCope_output.loom'
         mode = 'dask_multiprocessing'
         client_or_address = ''
         cell_id_attribute = 'CellID'
         gene_attribute = 'Gene'
         report_ipynb = '/src/scenic/bin/reports/scenic_report.ipynb'
         skipReports = false
         grn {
            algorithm = 'grnboost2'
            tfs = '/nfs/cellgeni/grnboost2-stuff/files/allTFs_hg38.txt'
         }
         cistarget {
            adj = 'adj.tsv'
            type = ''
            rank_threshold = 5000
            auc_threshold = 0.05
            nes_threshold = 3.0
            min_orthologous_identity = 0.0
            max_similarity_fdr = 0.001
            annotations_fname = ''
            thresholds = '0.75,0.90'
            top_n_targets = 50
            top_n_regulators = '5,10,50'
            min_genes = 20
            all_modules = false
            motifsDb = '/nfs/cellgeni/grnboost2-stuff/files/hg38__refseq-r80__*feather'
            motifsAnnotation = '/nfs/cellgeni/grnboost2-stuff/files/motifs-v9-nr.hgnc-m0.001-o0.0.tbl'
            tracksDb = '/nfs/cellgeni/grnboost2-stuff/files/encode_20190621__ChIP_seq_transcription_factor.hg38__refseq-r80__*feather'
            tracksAnnotation = '/nfs/cellgeni/grnboost2-stuff/files/encode_project_20190621__ChIP-seq_transcription_factor.homo_sapiens.hg38.bigwig_signal_pvalue.track_to_tf
         }
         aucell {
            output = 'aucell_output.loom'
            rank_threshold = 5000
            auc_threshold = 0.05
            nes_threshold = 3.0
            min_genes_regulon = 0
            min_regulon_gene_occurrence = 0
         }
         numRuns = 2
         aggregate_features {
            use_chunking = true
            output_format = 'csv'
            compression = 'gzip'
         }
      scconverter {
        container = '/nfs/cellgeni/grnboost2-stuff/images/vibsinglecellnf-scconverter.sif'
      }
      compresshdf5 {
        container = '/nfs/cellgeni/grnboost2-stuff/images/vibsinglecellnf-hdf5-1.10.5-r2.img'
      }
   }
   data {
      tenx {
         cellranger_mex = ''
      }
   }
}

executor {
  name = 'lsf'
  perJobMemLimit = true
}

process {
   cpus = 2
   memory = '60 GB'
   withLabel:compute_resources__default {
      queue = 'normal'
   }
   withLabel:compute_resources__minimal {
      cpus = 1
      memory = '1 GB'
      queue = 'normal'
   }
   withLabel:compute_resources__mem {
      cpus = 4
      memory = '160 GB'
      queue = 'long'
   }
   withLabel:compute_resources__cpu {
      cpus = 20
      memory = '80 GB'
      queue = 'long'
   }
   withLabel:compute_resources__report {
      maxForks = 2
      cpus = 1
      memory = '160 GB'
   }
   withLabel:compute_resources__24hqueue {
      queue = 'long'
   }
   withLabel:'compute_resources__scenic.*' {
      cpus = 4
      memory = '60 GB'
      queue = 'long'
      maxForks = 1
   }
   withLabel:compute_resources__scenic_grn {
      cpus = 16
      memory = '120 GB'
      queue = 'long'
   }
   withLabel:compute_resources__scenic_cistarget {
      cpus = 8
      memory = '80 GB'
      queue = 'long'
   }
   withLabel:compute_resources__scenic_aucell {
      cpus = 8
      memory = '80 GB'
      queue = 'long'
   }
   withLabel:'compute_resources__scenic_multiruns.*' {
      cpus = 4
      memory = '60 GB'
      queue = 'long'
   }
   withLabel:compute_resources__scenic_multiruns_motifs2regulons {
      memory = '60 GB'
      queue = 'long'
   }
}

timeline {
   enabled = true
   file = ''
}

report {
   enabled = true
   file = ''
}

trace {
   enabled = true
   file = ''
}

dag {
   enabled = true
}

min {
   enabled = false
}

vsc {
   enabled = false
}

singularity {
   enabled = true
   autoMounts = true
   runOptions = '--cleanenv -B /lustre,/nfs'
}
